# Define the configurations for app
GITHUB_TOKEN=<put your token here>

# MongoDB configurations
DB_HOST=mongodb://datastore:27017

# PostgreSQL database configurations
POSTGRES_HOST=database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<put your password here>
POSTGRES_DBNAME=neocargo

DISABLE_AUTH=true