version: '3.5'

services:

  # Services
  consignment:
    restart: always
    build: ./neocargo-service-consignment
    depends_on:
      - datastore
      - vessel
    ports:
      - 50051:50051
    environment:
      MICRO_SERVER_ADDRESS: ":50051"
    env_file:
      - config.env

  vessel:
    restart: always
    build: ./neocargo-service-vessel
    depends_on:
      - datastore
    ports:
      - 50052:50051
    environment:
      MICRO_SERVER_ADDRESS: ":50051"
    env_file:
      - config.env

  user:
    build: ./neocargo-service-user
    depends_on:
      - database
    ports:
      - 50053:50051
    environment:
      MICRO_SERVER_ADDRESS: ":50051"
      WAIT_HOSTS: database:5432
    env_file:
      - config.env

  # Commands
  cli:
    build: ./neocargo-cli-consignment
    depends_on:
      - datastore
      - consignment

  user-cli:
    build: ./neocargo-cli-user
    depends_on:
      - database
      - user

  # Database tier
  datastore:
    image: mongo # official mongodb image
    container_name: "datastore"
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ./data/db:/data/db # ensures data persistence between restarting
    ports:
      - 27017
    command: mongod --logpath=/dev/null

  database:
    image: postgres:alpine
    container_name: "database"
    restart: always
    environment:
      POSTGRES_PASSWORD: "password"
      POSTGRES_USER: "postgres"
      POSTGRES_DB: "neocargo"
    ports:
      - 5432:5432